html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.Myh1 {
    font: x-large;
    color: cornflowerblue;
    font-style: italic;
}

.MyImg {
    float: right;
    border-radius: 12px;
    width: 90px;
    height: 90px;
}
